@media screen and (min-width: 300px) {
    body {
        background-color: #252525;
    }

    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    .title {
        font-size: 1.6em;
        margin-bottom: 3rem;
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #171616;
        width: 200px;
        height: 150px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        border-radius: 2rem;
    }

    .replayDiv {
        margin-top: 3rem;
    }

    .replayDiv-replay:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 400px) {
    .title {
        font-size: 2em;
        margin-bottom: 3rem;
    }
 
    .block {
        width: 280px;
        height: 220px;
    }
}