@media screen and (min-width: 300px) {
    body {
        background-color: #252525;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #app {
        margin-top: 1.4rem;
        width: 13rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    .title {
        font-size: 1.5em;
        margin-bottom: 1.1rem;
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #171616;
        width: 200px;
        height: 104px;
        padding: 0 .3rem;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        border-radius: 2rem;
    }

    .block-prediction {
        font-size: .75em
    }

    .picture {
        position: absolute;
        top: 8.9rem;
        width: 9.4rem;
        left: 2rem;
    }

    .replayDiv {
        margin-top: 3rem;
        position: absolute;
        top: 29.9rem;
        left: 5rem;
    }

    .replayDiv-replay:hover {
        text-decoration: underline;
    }
}

/* @media screen and (min-width: 400px) {
    .title {
        font-size: 2em;
        margin-bottom: 3rem;
    }
 
    .block {
        width: 280px;
        height: 220px;
    }
} */