@media screen and (min-width: 300px) {
    body {
        background-color: #464444;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #app {
        margin-top: 1.4rem;
        width: 13rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    .title {
        font-size: 1.5em;
        margin-bottom: 1.1rem;
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #171616;
        width: 200px;
        height: 104px;
        padding: 0 .3rem;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        border-radius: 2rem;
        z-index: 1
    }

    .block-prediction {
        font-size: .75em
    }

    .picture {
        position: absolute;
        top: 8.9rem;
        width: 9.4rem;
        left: 2rem;
        z-index: 0
    }

    .replayDiv {
        margin-top: 3rem;
        position: absolute;
        top: 29.9rem;
        left: 5rem;
    }

    .replayDiv-replay:hover {
        text-decoration: underline;
    }
}

@media screen and (min-height: 600px) {
    #app {
        margin-top: 2rem;
    }
    
    .title {
        margin-bottom: 1.7rem;
    }

    .block {
        padding: 0 1rem;
        line-height: 1.1rem;
    }

    .picture {
        top: 9.5rem;
        width: 11rem;
        left: 1.4rem;
    }

    .replayDiv {
        top: 35rem;
        left: 5.2rem;
    }
}